.articleBlock {
  background: white;
  margin: 5px;
  padding: 10px;
}

.articleBody {
  font-weight: 300;
  color: #262c2d;
  text-align: justify;
  font-size: 80%;
}

.articleTitle {
  font-weight: 400;
  text-transform: uppercase;
  color: #a0423a;
}

.articleFooterText {
  font-size: 30%;
  margin-top: 5px;
  font-weight: 400;
}
