.articleBlock {
  background: white;
  margin: 8px;
  padding: 10px;
  width: 60%;
}

.articleBody {
  font-weight: 300;
  color: #262c2d;
  text-align: justify;
  font-size: 100%;
  float: left;
}

.articleTitle {
  font-weight: 400;
  text-transform: uppercase;
  color: #a0423a;
}

.articleFooterText {
  font-size: 30%;
  margin-top: 5px;
  font-weight: 400;
}

.header {
  cursor: pointer;
}

#articlePostBtn {
  border: none;
  padding: 2%;
  font-size: 90%;
  border-radius: 50px;
}

.articleButton {
  text-decoration: none;
  color: #a0423a;
  font-weight: 100;
}
