.articleTable,
.commentTable {
  background: white;
  text-align: left;
  padding: 2%;
}

.articleTable {
  width: 80%;
  margin: 5% auto;
}

#articleTitle {
  text-transform: uppercase;
  font-size: 130%;
  text-align: center;
  padding-bottom: 2%;
}

#articleCreator {
  font-size: 50%;
  color: #262c2d;
}

#commentCreator {
  text-align: right;
  margin-top: 1%;
  font-size: 50%;
  color: #a0423a;
}

#articleBody {
  padding-top: 2%;
  font-size: 70%;
}

#articleBody,
#commentBody {
  color: #262c2d;
  text-align: justify;
}

.commentTable {
  margin: 2% auto;
  font-size: 60%;
  width: 60%;
}

#commentVoteCount {
  padding-right: 3%;
}

#noComment {
  color: rgb(143, 143, 143);
  font-size: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#voteCount {
  text-align: center;
  font-size: 60%;
}

.articleImage {
  max-width: 75%;
  max-height: 50%;
}

#tableImage {
  text-align: center;
}
