.footer {
  background: #262c2d;
  clear: both;
  font-weight: 100;
  font-size: 50%;
  color: white;
  position: relative;
  text-align: center;
  padding: 1rem;
}

.footerSocial {
  color: white;
  font-size: 200%;
}

.footerSocialIcon {
  text-decoration: none;
  padding: 5px;
  color: white;
  margin-bottom: 5px;
}
