.navigation-top {
  background: #262c2d;
  color: white;
  text-align: center;
}

.navigation-top ul {
  list-style: none;
}

.navigation-drop ul li {
  text-decoration: none;
  color: white;
}

.navigation-drop {
  display: inline-block;
}

.navigationLinks {
  display: grid;
  text-decoration: none;
  font-size: 150%;
}
