.articleWrapper {
  overflow: hidden;
  display: flex;
  background: white;
  margin: 1%;
  padding: 0.5%;
  text-align: left;
  font-size: 120%;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px #888888;
}

.articleOptions {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.textInput {
  text-align: left;
  font-size: 110%;
}

.articleOptions button {
  background: white;
  color: #ac3636;
  font-size: 120%;
  border: none;
  margin: 5px;
}

.articlesLink {
  text-decoration: none;
  width: 800%;
}

#articlesText {
  width: 300px;
  overflow: hidden;
}

#prevText {
  color: #262c2d;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleFooterText {
  color: #ac3636;
}

#submitArticle {
  cursor: pointer;
  font-size: 80%;
  color: white;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-style: none;
  border-radius: 50px;
  background: #ac3636;
  transition: 0.5s;
}

#submitArticle:hover {
  background: white;
  color: #ac3636;
  border: 1px solid #ac3636;
}
