#topicGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.topicLink {
  color: white;
  text-decoration: none;
}

.topicButton {
  background: #9f9f9f;
  font-size: 120%;
  font-weight: 100;
  margin: 5%;
  padding: 2%;
}
