.userCard img {
  height: 200px;
  width: auto;
}

.userLink {
  text-decoration: none;
  color: #2b3031;
}

.usersWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 100vh;
  align-items: stretch;
}

.userWrapper {
  font-size: 120%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px #888888;
  background: white;
  margin: 2% auto;
}
