.App {
  text-align: center;
  color: #ac3636;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #ececec;
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* ICONS */

/* Topics Icon
<ion-icon name="book"></ion-icon> */

/* Articles Icon
<ion-icon name="list-box"></ion-icon> */

/* Users Icon
<ion-icon name="contact"></ion-icon> */

/* 
Code Icon
<ion-icon name="code"></ion-icon>

Cooking Icon
<ion-icon name="pizza"></ion-icon>

Football Icon
<ion-icon name="football"></ion-icon> */
