.navigation-top {
  background: #262c2d;
  color: white;
}

.navigation-top ul {
  list-style: none;
}

.navigation-drop ul li {
  text-decoration: none;
  color: white;
}

.navigation-drop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navigationLinks {
  display: grid;
}
